In [1]:
import manage_data as md
import preprocessing as pp
import numpy as np

In [2]:
dfi = md.import_dfi()
dfi.head()

,coil_number,datum_post,real_date,time,length,width,thickness,weight,oil,steelgrade,...,sticking,startS,endS,special_case,comment,sound_file,fs,t_begin,t_end,duration
0,47165821,2014-11-25,2014-11-25,2015-03-29 15:54:59.995,3993,1202,0.60,22.718,129,K05AA1,...,0,NaN,NaN,0,"not mentioned, normally no stickermarks",1,10000,NaN,NaN,347.0
1,47380932,2014-11-25,2014-11-25,2019-02-10 15:54:59.995,3231,1601,0.69,28.056,999,T02A10,...,0,NaN,NaN,1,"not so clear, but i don't think there are stic...",1,10000,NaN,NaN,236.0
2,47381322,2014-11-25,2014-11-25,2019-03-21 15:54:59.995,1639,1253,1.50,24.299,269,K07AA0,...,1,283.0,811.0,0,"283->811m skp-length, wt 8,76µm",1,10000,89.0,125.0,227.0
3,47415018,2014-11-25,2014-11-25,2020-03-05 15:54:59.995,1503,1579,1.47,27.417,869,K04AA1,...,1,226.0,965.0,0,"226->965m skp-length, 10µm, 10µm and 8µm",1,10000,66.0,127.0,212.0
4,47425141,2014-11-25,2014-11-25,2020-03-15 15:54:59.995,2130,1389,1.15,26.801,229,K05AA5,...,1,712.0,1086.0,0,"712->1086m skp-length, 5,71µm wt",1,10000,83.0,108.0,218.0

In [3]:
df1 = dfi[['sticking', 't_begin', 't_end', 'duration']]
df1.head()

   sticking  t_begin  t_end  duration
0         0      NaN    NaN     347.0
1         0      NaN    NaN     236.0
2         1     89.0  125.0     227.0
3         1     66.0  127.0     212.0
4         1     83.0  108.0     218.0

In [8]:
df2 = df1[df1.sticking==True].dropna()
df2

    sticking  t_begin  t_end  duration
2          1     89.0  125.0     227.0
3          1     66.0  127.0     212.0
4          1     83.0  108.0     218.0
6          1    224.0  271.0     272.0
7          1     49.0  171.0     296.0
8          1     51.0   83.0     243.0
9          1    221.0  228.0     365.0
12         1     23.0   26.0     259.0
13         1     21.0   89.0     339.0
17         1     52.0   62.0     272.0
19         1    227.0  314.0     315.0
20         1     71.0  119.0     120.0
21         1     81.0  112.0     224.0
27         1    253.0  294.0     295.0
28         1     94.0  149.0     279.0
29         1     68.0  120.0     229.0
32         1    225.0  280.0     281.0
34         1     72.0   90.0     173.0
37         1     66.0   88.0     192.0
38         1     65.0  126.0     282.0
40         1      8.0  111.0     241.0
43         1     16.0   73.0     286.0
44         1     77.0   88.0     268.0
50         1     23.0  103.0     261.0
52         1     90.0  109.0     200.0
53         1     91.0  125.0     184.0
56         1    177.0  208.0     209.0
62         1     54.0  103.0     188.0
65         1    101.0  196.0     307.0
66         1     70.0  111.0     223.0
71         1    141.0  303.0     432.0
72         1     16.0  126.0     275.0
74         1     84.0  135.0     329.0
78         1     52.0  206.0     207.0
79         1     79.0  140.0     251.0
80         1     75.0  138.0     248.0
81         1     33.0  171.0     275.0
82         1     13.0  129.0     256.0
83         1     59.0  111.0     217.0

In [13]:
max(df2.t_end.values-df2.t_begin.values)

162.0

In [6]:
begin = []
end = []
dfi = md.import_dfi()
for coil in range(88):
    try:
        df = md.import_data(coil)
        df = md.import_data(coil=coil)
        startS, endS = dfi.startS[coil], dfi.endS[coil]
        t, signal, speed, decoiler, coiler = md.dfToArrays(df)
        a, b, n, dt, fs = md.xInfo(t)
        st, se = pp.when_sticking(coiler, t, startS, endS)
        sti, sei = int(st), int(se)+1
        begin.append(sti)
        end.append(sei)
    except:
        print(coil)
        begin.append(0)
        end.append(0)

18
31

In [ ]:
len(begin)

In [ ]:
for coil in range(88):
    if begin[coil]==0:
        begin[coil] = end[coil] = np.nan

In [ ]:
dfi['t_begin'] = begin
dfi['t_end'] = end

In [ ]:
dfi

In [ ]:
#md.export_dfi(dfi)

In [ ]:
#dur = dfi.duration.values
#dur = dur.astype(int).astype(float)+1

In [ ]:
#dfi.drop('duration', axis=1, inplace=True)
#dfi['duration'] = dur

In [ ]:
#dfi

In [ ]:
dur = df2.t_end-df2.t_begin

In [ ]:
dur.std()